---
default:
client_id: "********"
client_secret: "********"
customer_id: "********"
base_url: "https://[API_GATEWAY].central.arubanetworks.com"
from_email: "Your Name <yourl@emailaddress.com>"
to_emails: ["John Doe <johndoe@emailaddress.com>", "Someone Else <someone.else@emailaddress.com>"]
subject: "Wireless Rogues Alert"
check_ssids: ["employees", "sales"]
sendgrid_api_key: "********"
username: "central_login"
password: "central_password"
smtp:
    username: "smtp_username"
    password: "smtp_password"
    host: "10.0.1.44"
    port: 25
slack_bot_token: "********"
slack_channel_id: "********"
